#preload{

    background-color: #fff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
html,body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
@media screen and (max-width: 1025px) {
    .not-movil{
        display: none;
    }
    .stage{
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slides{
        margin-top: 40px;
        display: block !important;
        background-image: none !important;
        padding: 0 10px 0 10px;
    }
    *{
        position: static;
       
        
    }
    div,p{
        width: 100% !important;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    img{
        max-width: 100%;
    }
    .title{
        font-size: 1.5em;
        font-weight: bold;
        color: #fff;
        text-shadow: #000 0px 0px 10px;
    }
    .text{
        height: auto !important;
    }
}
@media screen and (min-width: 1025px) {
    *{
        box-sizing: border-box;
        position: absolute;
    
    }
    body {
        position: relative;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    #app{
        width: 1024px;
        height: 640px;
        margin: 0 auto;
        position: absolute;
        left:calc(50vw - 512px);
        top: calc(50vh - 320px);
        overflow: hidden;
    }
    .stage {
        position: absolute;
        box-sizing: border-box;
        width: 1024px;
        height: 640px;
        background-color: #fff;
    }
    .box{
        margin: 0 70px 0 70px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .box-title{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }
}
.stage_static *{
    position: static;    
}
.title{
    font-size: 1.6em;
    font-weight: bold;
    color: #fff;
}
.big-title{
    font-size: 3em;
    font-weight: bold;
    color: #00A89C;
}
/*
.d-flex{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-direction-row{
    flex-direction: row;
}
.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}
.align-items-flex-end{
    align-items: flex-end;
}
.align-items-center{
    align-items: center;
}
.d-flex * {
    position: static !important;

}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.p-1{
    font-size: 2em;
}
*/

.controls{
    width: 100%;
    position: absolute;
    bottom: 60px;
    left:370px;
    cursor: pointer;
}