@charset "UTF-8";
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/Century_Gothic_Bold-webfont.eot');
  src: url('../fonts/Century_Gothic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Century_Gothic_Bold-webfont.woff2') format('woff2'),
       url('../fonts/Century_Gothic_Bold-webfont.woff') format('woff'),
       url('../fonts/Century_Gothic_Bold-webfont.ttf') format('truetype'),
       url('../fonts/Century_Gothic_Bold-webfont.svg#century_gothicbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Century Gothic Regular';
    src: url('../fonts/Century_Gothic_Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Century Gothic', sans-serif;
}
#stage1{
    background-image: url(../img/img-fondo1.jpg);
    min-height: 640px;

}
#stage1_footer{
    bottom: 0;
    top: 100px;
}

#stage1_footer_1{
    bottom: 0;
    right: 0;
}
#stage1_footer_2{
    bottom: 210px;
    right: -2px;
}
#stage1_footer_3{
    bottom: 0;
    left: -4px;
}
#stage1_mensage{
    top:380px;
    left: 90px;
    width: 650px;
    height: 200px;

}
#stage2_p1{
    width: 70%;
    text-align: center;
    font-weight: 100;
    font-family: 'Century Gothic Regular';
}
.box p{
    font-family: 'Century Gothic Regular';
    font-size: .9rem !important;
}
.box ul, .box  li, .box  li p{
    padding-left: 0;
    margin: 2px;
}
.box ul li p, .box ul li b, .box ul li{
    padding: 0;
    margin: 0;
}
#stage2_p1 b{
    font-weight: bold;
}
#slider1 .d-flex{
    width: 100%;
    height: 100%;
    align-items: center;
}
@media screen and (max-width: 1025px) {
    #slider1 .d-flex{
        width: 100%;
        height: auto !important;
        align-items: center;
    }
}
#slider2{
    background-image: url(../img/img-fondo3.jpg);
}
#slider2 .text{
    width: 63%;
    height: 100%;
}

.box-title h2{
    font-size: 40px;
    line-height: 40px;
}

#slider3{
    background-image: url(../img/img-fondo4.jpg);
}
#slider3 .text{
    width: 76%;
    height: 100%;
}

.green{
    color: #75bf02;
}
.blue{
    color: #00A89C;
}
#slider4{
    background-image: url(../img/img-fondo5.jpg);
}
#slider4 .text{
    width: 60%;
    height: 100%;
}
#slider5{
    background-image: url(../img/img-fondo6.jpg);
}
#slider5 .text{
    width: 60%;
    height: 100%;
}
#slider6{
    background-image: url(../img/img-fondo7.jpg);
}
#slider6 .text{
    width: 60%;
    height: 100%;
}
.title-7-1{
    font-size: 40px;
    line-height: 40px;
    text-align: right;
    color: #00A89C;
    font-family: 'Century Gothic';
    margin-bottom: 50px;
}
.title-7-2{
    font-size: 28px;
    line-height: 26px;
    text-align: left;
    font-family: 'Century Gothic regular';
    margin-bottom: 50px;
}